.search-input {
  padding: 1rem 0.8rem;
  background: none;
  border: 2px solid var(--color-purple-20);
  border-radius: 4px;
  font-size: 1.4rem;

  &:focus {
    outline-offset: 1px solid var(--color-purple-20);
    outline: 1px solid var(--color-purple-20);
  }
}

.searchProduct-close {
  position: absolute;
  top: 55%;
  right: 8px;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--color-purple-20);
  padding: 0.3rem;
  color: var(--color-white);
}
