.stats {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 5rem;

  &__data {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
    justify-content: space-evenly;
    gap: 1rem;
  }

  &__charts {
    padding: 2rem;
    background-color: var(--color-white);
  }
}
