.existed-products {
  position: absolute;
  background-color: var(--color-purple-20);
  display: flex;
  flex-direction: column;
  top: -100px;
  left: 0;
  gap: 1rem;
  width: 100%;
  height: 15vh;
  overflow-y: scroll;
  font-size: 1.2rem;
  color: var(--color-white);
  z-index: 1;

  & li {
    padding: 0.7rem;
    transition: 0.4s all;
    cursor: pointer;
    &:hover {
      background-color: var(--color-purple-10);
    }
  }
}
