.update-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 4rem;
  width: 85vw;
  background-color: var(--color-white);
  border-radius: 5px;

  &__input-row {
    display: flex;
    gap: 1.2rem;
  }

  &__table {
    width: 100%;
    background-color: var(--color-purple-20);
    color: var(--color-white);

    th {
      padding: 1rem;
      font-size: 1.3rem;
      text-align: center;
      text-transform: capitalize;
      border: 2px solid var(--color-purple-10);
      height: 1vh;
    }
  }
}
