.purchase-form {
  height: 60vh;
  width: 90vw;
  border-radius: 4px;
  background-color: var(--color-white);
  overflow-y: scroll;
  padding: 1.5rem 2.5rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inputRow-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }

  &__input-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    &--delete,
    &--verify {
      align-self: center;
      width: 2rem;
      height: 2rem;
      display: flex;
      font-size: 1.5rem;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background-color: rgb(255, 4, 4);
      padding: 0.3rem;
      color: var(--color-white);
    }

    &--delete {
      background-color: rgb(255, 4, 4);
      cursor: pointer;
    }
    &--verify {
      background-color: var(--color-green-10);
    }
  }

  &__buttons {
    display: flex;
    bottom: 0;
    gap: 2rem;
    justify-content: end;
    padding-bottom: 1.5rem;
    margin-top: 5rem;
    margin-top: auto;
  }
}
