.pagination-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;

  li {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    aspect-ratio: 1 / 1;
    transition: all 0.5s;
    background-color: var(--color-purple-10);
    color: var(--color-white);
    box-shadow: 0rem 0.2rem 0rem rgb(0, 0, 2, 0.2);
  }
}

.pagination-button {
  display: inline-block;
  background-color: var(--color-purple-20);
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 1.5rem;
  cursor: pointer;
}
